@charset "utf-8";
.head{
    width: 100%;
    height: 40px;
    background: #333333;
}
.head-con{
    width: 1230px;
    height: 40px;
    margin: 0 auto;
}
.head-left{
    width: 715px;
    height: 40px;
    float: left;
}
.head-left li{
    float: left;
    background: url(../images/index_images/line_03.png) no-repeat right center
}
.head-left li a{
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    font-size: 12px;
    color: #b0b0b0;
}
.head-right{
    width: 285px;
    height: 40px;
    float: right;
}
.head-right-left{
    width: 160px;
    height: 40px;
    float: left;
}
.head-right-left li{
    float: left;
    background: url(../images/index_images/line1_03.png) no-repeat right center;
}
.head-right-left li a{
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    font-size: 12px;
    color: #b0b0b0;
}
.head-right-right{
    width: 120px;
    height: 40px;
    background:#424242;
    float: right;
}
.head-right-right img{
    width: 40px;
    height: 40px;
}
.head-right-right a{
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
    font-size: 12px;
}
.nav{
    height: 100px;
    width: 100%;
}
.nav-con{
    height: 100px;
    width: 1230px;
    margin: 0 auto;
}
.nav-left{
    height: 100px;
    line-height: 100px;
    width: 60px;
    float: left;
    text-align: center;
}
.nav-left img{
    vertical-align: middle;
    display: inline-block;
}
.nav-left span{
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.nav-mid{
    width: 640px;
    height: 100px;
    float: left;
    margin-left: 167px;
}
.nav-mid li{
    float: left;
}
.nav-mid li a{
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    font-size: 14px;
}
.nav-right{
    width: 300px;
    height: 100px;
    float: right;
    text-align: center;
}
.nav-right input{
    height: 48px;
    width:246px;
    float: left;
    border: none;
    text-indent: 20px;
    margin-top: 25px;
    border: 1px solid #ccc;
}
.nav-right img{
    margin-top: 25px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
.nav-right span{
    width: 0;
    height:100%;
    vertical-align: middle;
    display: inline-block;
}
.banner{
    height: 460px;
    width: 100%;
}
.banner-con{
    height: 460px;
    width: 1230px;
    margin: 0 auto;
    background:blueviolet;
    position: relative;
}
.btn{
    width: 120px;
    height: 30px;
    background:rgba(ff, ff, ff, .5);
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.btn a{
    float: left;
    width: 30px;
    height: 30px;
    color: #000;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
.img-box{
    height: 460px;
    width: 1230px;
    overflow: hidden;
}
.img-box img{
    height: 460px;
    width: 1230px; 
}
.banner-left{
    height: 460px;
    width: 235px;
    position: absolute;
    background:rgba(00, 00, 03, .5);
    left: 0;
    top:0;
}
.banner-left ul{
    width: 205px;
    height: 400px;
    margin-left: 30px;
    margin-top: 30px;
}
.banner-left li{
    width: 205px;
    height: 40px;
    float: left;
}
.banner-left li a{
    
    color: white;
    line-height: 40px;
}

.photo{
    width: 100%;
    height: 210px;
    padding-top: 14px;
    /* background: pink; */
}
.photo-con{
    width: 1230px;
    height: 196px;
    margin: 0 auto;
}
.photo-left{
    width: 235px;
    height: 170px;
    background:#5f5750;
    float: left;
}
.photo-left table{
    width: 235px;
    height: 170px;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
.photo-left table td{
    border-right: 1px solid #665e57;
    border-bottom: 1px solid  #665e57;
}
.photo-right{
    width: 980px;
    height: 170px;
    float: right;
}
.photo-list{
    width: 315px;
    height: 170px;
    background: url(../images/index_images/flow.jpg)no-repeat center;
    background-size: 100% 100%;
    margin-right: 15px;
    float: left;
}
.mean{
    height: 6000px;
    width:100%;
    background: #f5f5f5;
}
.mean-con{
    height: 6000px;
    width: 1230px;
    /* background: pink; */
    margin: 0 auto;
}
.shopping{
    height: 405px;
    width: 1230px;
    /* background: greenyellow; */
}
.shopping .list{
    height: 60px;
    width: 1230px;
    background: #f5f5f5;
}
.list-left{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    width: 100px;
    float: left;
}
.list-right{
    height: 60px;
    line-height: 60px;
    width: 100px;
    float: right;
}
.list-right table{
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-spacing: 0;
    border-collapse: collapse;
}
.list-right table tr td{
    border: 1px solid #ccc;
   
    color: #ccc;
}
.list-right table tr .td1{
    background: url(../images/index_images/jiantou2.png)no-repeat center;
    background-size: 100%;
}
.list-right table tr .td2{
    background: url(../images/index_images/arrow-right-copy-copy.png)no-repeat center;
    background-size: 100%;
}
.shopping-con{
    height: 340px;
    width: 1230px;
    /* background: green; */
}
.shopping-con .pai{
   width:235px;
    height: 340px;
    margin-right: 13px;
    float: left;
    background: #fafafa;
    border-top:1px solid blue;
}
.shopping-con .pai h3{
    width: 234px;
    height: 234px;
    background: url(../images/index_images/lamp_03.jpg) no-repeat center;
}
.shopping-con .pai h4{
    width: 235px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #202020;
}
.shopping-con .pai h5{
    width: 235px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #adadad;
}
.shopping-con .pai span{
    width: 135px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    color:#fa6509;
    float: left;
    text-align: center;
}
.shopping-con .pai i{
    width: 100px;
    height: 33px;
    line-height: 33px;
    float: right;
    font-size: 14px;
    color:#adadad;
    text-decoration:line-through;
}

.shopping-con .first{
    width:235px;
    height: 340px;
    margin-right: 13px;
    float: left;
    background:#f1eded;
    border-top:1px solid red;
}
.shopping-con .first h2{
    width: 235px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
    font-size: 20px;
    color: #ef3a3b;
    font-weight: normal;
}
.shopping-con .first h3{
    height: 50px;
    width: 235px;
    text-align: center;
   background: url(../images/index_images/shandian_03.jpg)no-repeat center;
}
.shopping-con .first h4{
    width: 235px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
    font-size: 14px;
    color: #6f6d6d;
    font-weight: normal;
}
.shopping-con .first h5{
    height: 50px;
    width: 235px;
    text-align: center;
   background: url(../images/index_images/time_03.jpg)no-repeat center;
}
.shopping-con .guo{
    width:235px;
    height: 340px;
    float: left;
    background: #fafafa;
    border-top:1px solid green;   
}
.shopping-con .guo h3{
    width: 234px;
    height: 234px;
    background: url(../images/index_images/cooker_09.jpg) no-repeat center;
}
.shopping-con .guo h4{
    width: 235px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: #202020;
}
.shopping-con .guo h5{
    width: 235px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    color: #adadad;
}
.shopping-con .guo span{
    width: 135px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    color:#fa6509;
    float: left;
    text-align: center;
}
.shopping-con .guo i{
    width: 100px;
    height: 33px;
    line-height: 33px;
    float: right;
    font-size: 14px;
    color:#adadad;
    text-decoration:line-through;
}
.home{
    width: 100%;
    height: 150px;
}
.home-con{
    width: 1230px;
    height: 120px;
    line-height: 120px;
    margin: 0  auto;
    padding-top: 20px;
}
.tel{
    width: 100%;
    height: 670px;
}
.tel-con{
    width: 1230px;
    height: 670px;
    /* background: pink; */
}
.tel-top{
height: 50px;
width: 1230px;
/* background:greenyellow; */
}
.tel-top h3{
    height: 50px;
    line-height: 50px;
    width:100px;
    float: left;
    font-size: 20px;
    text-indent: 10px;
}
.tel-top h4{
    height: 50px;
    line-height: 50px;
    width: 200px;
    text-align: center;
    float: right;
    color: #424242;
}
.tel-left{
    width: 236px;
    height: 615px;
    float: left;
    background: url(../images/index_images/mimix.png)no-repeat left center;
}
.tel-right{
    width: 980px;
    height:615px;
    float: right;
}
.tel-right ul{
    width: 980px;
    height:300px;
    /* border: 1px solid red; */
    margin-bottom: 15px;
   
}
.tel-right li{
    width: 240px;
    height: 300px;
    float: left;
    background:#ffffff;
    margin-right: 5px;
}
.tel-right li h3{
    width: 235px;
    height: 195px;
    text-align: center;   
}
.tel-right li h4{
    width: 235px;
    height:26px;
    line-height: 26px;
    text-align: center;  
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}
.tel-right li h5{
    width: 235px;
    height:26px;
    line-height: 26px;
    text-align: center;  
    font-size: 12px;
    color: #ccb7b7;
    font-weight: normal;
}
.tel-right li h6{
    width: 235px;
    height:32px;
    line-height: 32px;
    font-size: 14px;
    color: #ff6700;
    font-weight: normal;
    text-align: center; 
}
.house{
    height: 700px;
    width: 100%;
}
.house-con{
    height: 700px;
    width: 1230px;
    /* background: greenyellow; */
}
.house-top{
    width: 1230px;
    height: 58px;
}
.house-top h3{
    height: 58px;
    line-height: 58px;
    width:100px;
    float: left;
    font-size: 20px;
    text-indent: 10px;
}
.house-top h4{
    height: 58px;
    line-height: 58px;
    width: 60px;
    text-align: center;
    float: left;
    margin-left: 950px;
    color: #ff6700;
    text-decoration: underline;
    font-weight: normal;
}
.house-top h5{
    height: 58px;
    line-height: 58px;
    width: 100px;
    text-align: center;
    float: right;
    color:#424242;
    font-weight: normal;
}
.house-bottom ul{
    width: 1230px;
    height: 300px;
    margin-bottom: 15px;
    /* border:1px solid red; */
}
.house-bottom ul li{
    width: 234px;
    height: 300px;
    margin-right: 15px;
    background:#ffffff;
    float: left;
}
.house-bottom ul li h3{
    height: 190px;
    width: 234px;
    line-height: 190px;
    text-align: center;
}

.house-bottom li h4{
    width: 234px;
    height:26px;
    line-height: 26px;
    text-align: center;  
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}
.house-bottom li h5{
    width: 234px;
    height:26px;
    line-height: 26px;
    text-align: center;  
    font-size: 12px;
    color: #ccb7b7;
    font-weight: normal;
}
.house-bottom li h6{
    width: 134px;
    height:32px;
    line-height: 32px;
    font-size: 14px;
    color: #ff6700;
    font-weight: normal;
    text-align: center; 
    float: left;
}
.house-bottom li span{
    width: 100px;
    height:32px;
    line-height: 32px;
    font-size: 14px;
    color: #ebcdb7;
    text-decoration:line-through;
    float: left;
}
.house-bottom  ul #bian ul{
    width: 234px;
    height: 142px;
    margin-bottom: 10px;
    background:#fff;

}
.house-bottom  ul #bian ul li{
    width: 114px;
    height: 142px;
    float: left;
    /* background: blue; */
    margin-right: 5px;
    text-align: center;
}
.house-bottom  ul #bian ul li img{
    margin-top: 40px;
}
.house-bottom  ul #bian ul li h3{
    width: 114px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    margin-top: 40px;
}
.house-bottom  ul #bian ul li h4{
    width: 114px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color:#ff6700;
    font-weight: normal;
}
.shipin{
    height: 400px;
    width: 100%;
}
.shipin-con{
    width: 1230px;
    height: 400px;
    /* background: pink; */
}
.shipin-bottom{
    width: 1230px;
    height: 300px;
    /* background: blue; */
}
.shipin-bottom div{
    width: calc(25% - 10px);
    height: 300px;
    background:#ffffff;
    margin-right: 10px;
    float: left;
}
.shipin-bottom div h3{
    width: 100%;
    height: 185px;
    margin-top: 5px;;
}
.shipin-bottom div h4{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: normal;
    color: #333333;
    font-size: 14px;
    margin-top: 25px;
    /* background: yellow; */
}
.weixiu{
    width: 100%;
    height: 270px;
}
.weixiu-con{
    width: 1230px;
    height: 270px;
    /* background: #ccc; */
    margin:0 auto;
}

.weixiu-top{
    width: 1230px;
    height: 75px;
    border-bottom: 1px solid #e0e0e0;
}
.weixiu-top ul{
    width: 1230px;
    padding-top: 25px;
    height: 24px;
}
.weixiu-top ul li{
    width: 242px;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid #e0e0e0;
    float: left;
    text-align: center;
}
.weixiu-bottom{
    height: 190px;
    width: 970px;
    float: left;
}

.weixiu-bottom ul{
    width: 1230px;
    height: 30px;
}
.weixiu-bottom ul li{
    width: 150px;
    float: left;
    font-size: 12px;
    color: #757575;
}
 .weixiu-right{
     margin-top: 25px;
    height: 120px;
    width: 235px;
    border-left: 1px solid #e0e0e0;
    float: right;
}
.weixiu-right h3{
    width: 235px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 18px;
    color: #ff6700;
    text-align: center;
}
.weixiu-right h5{
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 18px;
    color:#ff6700;
    text-align: center;
    border: 1px solid #ff6700;
    margin: 0 auto;
}
.weixiu-right h4{
    width: 150px;
    height: 45px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #616161;
    margin: 0 auto;
    text-align: center;
}

.footer{
    width: 100%;
    height: 250px;
    background: #fafafa;
}
.footer-con{
    width: 1230px;
    height: 230px;
    background: #ebcdb7;
    padding-top: 20px;
    margin: 0 auto;
    background: url(../images/index_images/)
}
.footer-left{
    width: 63px;
    height: 157px;
    float: left;
}
.footer-left img{
    width: 64px;
    height: 71px;
}
.footer-right{
    width: 1134px;
    height: 157px;
    float: right;
}
.footer-top{
    height: 45px;
    width: 1130px;
    /* background: red;   */
}
.footer-top ul{
    height: 45px;
    width: 1130px;
}
.footer-top li{
    float: left;
    padding: 9px 3px;
    background: url(../images/index_images/footer3_03.png)no-repeat  right center;
}
.footer-top li a{
    line-height: 20px;
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}
.footer-mid{
    height: 115px;
    width: 1130px;
}
.footer-mid p{
    line-height: 18px;
    color: #b0b0b0;
    font-size: 12px;
}
.footer-bottom{
    height: 60px;
    width: 1230px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #bebebe;
    float: left;
    font-weight: normal;
}
section{
    width: 80px;
    height: 405px;
    position: fixed;
    right: 0;
    top: 20%;
    background: #fff;
    text-align: center;
}
section div{
    width: 80px;
    height: 80px;
    float: right;
    border-bottom: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    font-size: 18px;
    color: #6c6c6c;
}
section div img{
    display: block;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-left: 25px;
}